@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .6s;
  text-decoration: none;
}

html, body{
  font-family: 'Merriweather', serif;
  letter-spacing: 0.1em;
  font-size: 0.98em;  
  /*min-height: 100%;*/
} 

/* === Wrapper  ===*/
.wrapper{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav-bar"
    "box"
    "footer";
}

/* === Nav Bab  ===*/
.nav-bar{
  grid-area: nav-bar;
  height: 70px;
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

.brand{
  font-size: 2.3em;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 10px 10px;
  line-height: 1.42857;
  color: #222;
}

.box-wrapper{
  height: 630px;
  position: relative;  
}


/* === Contact form ===*/ 
.box{
  grid-area: box;
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #FFF;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.1);
  /* box-shadow: 0 30px 20px rgba(0,0,0,.2); */
  box-shadow: 0 3px 60px rgba(57,73,76,0.35);
  
}

.box h2{
  margin: 0 0 40px;
  padding: 0;
  color: #222;
  text-transform: uppercase;
  text-align: center;
}

.box input, .box button{
  padding: 10px 0;
  margin-bottom: 30px;
}

.box input, .box button {
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #999;
}

.box button{
  font-size: 1.1em;
  border-bottom: none;
  cursor: pointer;
  background: #00578a;
  color: #FFF;
  margin-bottom: 0;
  text-transform: uppercase;
}

.box form div{
  position: relative;
}

.box form div label {
  position: absolute;
  top: 10px;
  left: 0;
  color: #999;
  pointer-events: none;
  transition: .5s;
}

.box input:focus ~ label, .box button:focus ~ label, 
.box input:valid ~ label, .box button:valid ~ label {
  top: -12px;
  left: 0;
  color: #37a000;
  font-size: 1em;
  font-weight: bold;
}

.box input:focus ~ label, .box button:focus ~ label, 
.box input:valid, .box button:valid {
  border-bottom: 2px solid #37a000;
}


.box button:focus ~ label, 
.box button:valid {
  border-bottom: 2px solid #00578a;
}

/* ==== Footer ==== */
footer {
  margin-top: 20rem;
}


footer p {
  text-align: center;
}

.div-docs {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.docs {
  margin: 1rem
}


.bootstrap-btn {
  letter-spacing: 0;
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	background-color: #2d2dff;
}


.bootstrap-btn:hover{
  background-color: #000094;
}